.tm-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .tm-input {
    input {
      font-size: 16px;
      outline: none;
      border: 1px solid #dadada;
      padding: 6px 12px;
      border-radius: 4px;
      transition: border 0.2s;
      &:focus {
        border: 1px solid #1ea7fd;
      }
    }
  }
}
