$XX: 1400px;
$X: 1200px;
$L: 992px;
$M: 768px;
$S: 576px;
$ES: 576px;

$XXScreen: 1320px;
$XScreen: 1140px;
$Lcreen: 960px;
$Mcreen: 720px;
$Screen: 540px;
$EScreen: 100%;

$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

.tm-col {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex: 1 0 0%;
}

@each $col in $columns {
    .tm-col-#{$col} {
        flex-basis: calc(100% * $col / 12);
    }
}

@media (max-width: $ES) {
    @each $col in $columns {
        .tm-col-xs-#{$col} {
            flex-basis: calc(100% * $col / 12);
        }
    }
}
@media (min-width: $S) {
    @each $col in $columns {
        .tm-col-sm-#{$col} {
            flex-basis: calc(100% * $col / 12);
        }
    }
}
@media (min-width: $M) {
    @each $col in $columns {
        .tm-col-md-#{$col} {
            flex-basis: calc(calc(100% * $col / 12) - calc(var(--tm-gutter-x) / 2));
        }
    }
}
@media (min-width: $L) {
    @each $col in $columns {
        .tm-col-lg-#{$col} {
            flex-basis: calc(100% * $col / 12);
        }
    }
}
@media (min-width: $X) {
    @each $col in $columns {
        .tm-col-xl-#{$col} {
            flex-basis: calc(100% * $col / 12);
        }
    }
}
@media (min-width: $XX) {
    @each $col in $columns {
        .tm-col-xxl-#{$col} {
            flex-basis: calc(100% * $col / 12);
        }
    }
}
